@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Book";
}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-10 shadow-lg p-4 mt-5 bg-body-tertiary rounded">
            <div class="border rounded border-1" style="background-color: rgb(197, 205, 218);">
                <div class="h4 py-4 px-5 text-light rounded" style="background-color: rgb(42, 104, 104);">
                    <div class="row">
                        <div class="col my-2"><strong>Book List</strong></div>
                        <div class="col">
                            <form action="">
                                <div class="input-group my-2 ms-0">
                                    <input class="form-control" type="text" placeholder="Search">
                                    <button class="btn btn-light text-dark" type="button" id="button-addon2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col"><button class="btn btn-primary py-1 px-4 mt-1 text-light ms-4"><h5>Add Book</h5></button></div>
                    </div>
                </div>
                <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
