<div class="main-contianer">
    <div class="contianer">
        <div class="login-form">
            <form method="post">
                <label class="login-item" for="email">Email</label>
                <input  class="login-item"  name="email" type="email" placeholder="email">
                <label class="login-item" for="password">Password</label>
                <input class="login-item" id="password" name="password" type="password" placeholder="password">
                <span oninvalid="password"></span>
                <label class="login-item" for="ConformPassword">Conform Password</label>
                <input class="login-item" id="ConformPassword" name="conformPassword" type="password" placeholder="conform password">
                <span oninvalid="ConformPassword"></span>
                <button type="submit">Submit</button>
            </form>

        </div>
    </div>
</div>
